/* Mobile STyle */
@media (max-width: 670px) {
    *,body{
        padding: 0px;
        margin: 0px;
        
    }

    .navigation{
        width: 100%;
        height: 40px;
        background-color: #f1f9fb;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo{
        margin-top: 5px;
        margin-left: 10px;
        width: 90px;
        height: 29px;
    }

    .menu_button{
        margin-top: 12px;
        margin-right: 12px;
        cursor: pointer;
    }

    /* Menu */

    .menu{
        width: 116px;
        height: 152px;
        background: #3c949e;
        padding-top: 12px;
        position: fixed;
        right: -200px;
        border-bottom-left-radius: 30px;
        top: 0px;
    }

    .menu_button2{
        padding-right: 13px;
    }

    .menu-li1{
        font-weight: 900;
    }
    .menu ul{
       
        color: #FFFFFF;
        text-align: right;
    }

    .menu li{
        list-style-type: none;
        margin: 5px;
        margin-right: 15px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 450;
        padding-top: 3px;
        
    }

    .menu a{
        color: #FFFFFF;
        text-decoration: none;
        font-size: 13pt;
    }

    .slide-menu-tampil{
        right: 0 !important;
    }

    /* Header */
    .header{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: #f1f9fb;
    }

    .maintext{
        color: #3E606F;
        font-family: Montserrat Alternates;
        font-size: 27px;
        font-style:normal;
        font-weight: 700;
        line-height: normal;
        margin-left: 12px;
        margin-top: 90px;
    }

    .penjelasan{
        width: 90%;
        height: auto;
        flex-shrink: 0;
        color: #3E606F;
        font-family: Montserrat;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-left: 13px;
        margin-top: 26px;
        margin-bottom: 40px;
    }

    .konsultasi_button{
        border-radius: 0px;
        background: #3c949e;
        width: 222px;
        height: 32px;
        display: flex;
        flex-shrink: 0;
        color: #FFF;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: lighter;
        line-height: normal;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 5px;
        transition: all ease-in-out 0.2;
       
    }

    .konsultasi_button:hover{
        transform: scale(0.96);
    }
    .sub_header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image_header{
        width: 210px;
    }

    /* Pengertian */
    .pengertian{
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color:  #3c949e;
    }

    .img_pengertian{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .dummyimg{
        width: 160px;
        height: 160px;
        margin-top: 27px;
    }

    .pengertian_main_text{
        color: #FFF;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        height: auto;
        position: relative;
        padding-top: 35px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 35px;
        text-decoration: none;
    }

    .pengertian_sec_text{
        color: #FFF;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 80%;
        height: 100%;
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 30px;
    }

    /* Why/Alasan */
    .alasan{
        height: 100%;
        padding-bottom: 30px;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items:center;
        background-color: #FFF;
    }

    .title_ss{
        height: auto;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .title_alasan{
        color: #000;
        text-align: center;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin: 20px;
        width: 50%;
    }
    /* Why1 */
  

    .why1{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        /* background-color: aqua; */
    }
    .why1_img{
        width: 160px;
        height: 160px;
        margin-top: 20px;
        margin-bottom: -10%;
    }

    .why1_text{
        color: #5BB2C8;
        text-align: center;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;   
        margin: 35px;   
      
    }

    .why1_subtext{
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 85%;   
        margin-bottom: 20px;    
    }

    
       
    /* Feedback */
    .fb_main{
        width: 100%;
        align-items: center;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .fb{
        display: flex;
        flex-direction: column;
        width: 280px;
        height: 533px;
        flex-shrink: 0;
        border-radius: 10px;
        align-items: center;
    }

    .fb_cont{
        display: flex;
        transition: 1s;
        justify-content: space-between;
    }

    .fb_wrapper{
        width: 280px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        border-radius: 10px;
        position: relative;
    }

    /* Animasi */
    #fb-slide1:target ~ .fb_cont{
        margin-left: 0px;
    }

    #fb-slide2:target ~ .fb_cont{
        margin-left: -100%;
    }

    #fb-slide3:target ~ .fb_cont{
        margin-left: -200%;
    }

    /* Navigasi */

    .fb_main{
        width: 100%i;
    }
    .fb_nav a{
        display: inline-block;
        height: 10px;
        width: 10px;
        background-color: gainsboro;
        font-size: 0px;
        border-radius: 100%;
        transition: 1.5s;
        margin-right: 15px;
        margin-left: 15px;
    }

    .fb_nav a:hover{
        background-color: grey;
    }

    .fb_nav{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: -15px; 
    }

    /* Fb SUb */
    .fb_sub{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        background-color: #5BB2C8;
        height: 95%;
        border-radius: 10px;
        justify-content: space-between;
        filter: drop-shadow(6px 6px 7px rgba(0, 0, 0, 0.25));
    }

    .fb_sub p{
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 20px;
        margin-right: 15%;
        margin-left: 15%;
        width: 88%;
    }

    .fb_sub h5{
        margin-right: 40%;
        margin-bottom: 10%;
        font-family: Montserrat;
        color: #FFF;
    }

    .garis{
        margin: auto;
        background-color: #000;
        height: 1px;
        width: 75%;
        opacity: 20%;
      
    }
    .footer{
        position: relative;
        height: 200px;
        width: 100%;
        background-color: #5BB2C8;
        bottom: -21vh;
    }
}

@media (max-width: 350px) {
    .fb_wrapper{
        width: 90%;
    }
}

@media (max-width: 290px) {
    .fb_wrapper{
        width: 90%;
    }
}

/* Desktop Style */
@media (min-width: 670px) {
    *,body{
        padding: 0px;
        margin: 0px;
        font-family: Montserrat;
    }
    
    .navigation{
        width: 100%;
        background-color:  #f1f9fb;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .logo{
        width: auto;
        height: 25px;
        margin-top: 2px;
        margin-left: 5px;
    }
    
    .menu_button, .menu_button2{
        display: none;
    }
    
    .menu li{
        list-style-type: none;
    }
    
    .menu ul>li>a{
        text-decoration: none;
        font-family: Montserrat;
        margin-left: 5px;
        margin-right: 10px;
        color: #3e606f;
        font-size: 13px;
    }
    
    .menu ul{
        display: flex;
        flex-direction: row;
        margin-top: 5px;
    }
    
    .menu-li1{
        font-weight: 600;
    }
    
    /* header */
    .header{
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color:  #f1f9fb;
    }

    .maintext{
        margin-top: 10%;
        margin-left: 5%;
        color: #3e606f;
        font-size: 30px;
    }

    .penjelasan{
        margin-top: 5%;
        margin-left: 5%;
        color: #3e606f;
        font-size: 15px;
        width: 65%;
    }

    .image_header{
        display: none;
    }

   
    .konsultasi_button{
        border-radius: 0px;
        background: #3c949e;
        width: 200px;
        height: 26px;
        display: flex;
        flex-shrink: 0;
        color: #FFF;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: lighter;
        line-height: normal;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 5px;
        transition: all ease-in-out 0.2;
        margin-left: 5%;
        margin-top: 5%;
        margin-bottom: 200px;
    }

    .konsultasi_button:hover{
        transform: scale(0.96);
    }
    
    /* Pengertian */
    .pengertian{
        width: 100%;
        height: 220px;
        display: flex;
        flex-direction: column;
        background-color:  #3c949e;
        align-items: center;
        justify-content: center;
    }

    .img_pengertian{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .dummyimg{
        width: 130px;
        height: 130px;
    }

    .pengertian_main_text{
        text-decoration: none;
        color: #FFF;
        font-weight: 500;
    }

    /* Alasan */
    .title_alasan, .title_ss{
        display: none;
    }
    .alasan{
        display: flex;
        flex-direction: row;
    }

    .why1{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-top: 3%;                                     
        overflow-x: hidden;
        
    }

    .why1_img{
        width: 110px;
        height: 110px;
    }

    .why1_text{
        font-size: 12px;
        color: #5BB2C8;
    }

    .why1_subtext{
        text-align: center;
        font-size: 12px;
        margin-right: 2%;
        margin-left: 2%;
        width: 75%;
        margin-top: 2%;
    }

     /* Feedback */
     .fb_main{
        width: 100%;
        align-items: center;
        margin-top: 10%;
        margin-bottom: 10%;
        /* background-color: #000; */
    }
    .fb{
        display: flex;
        flex-direction: column;
        width: 800px;
        height: 250px;
        flex-shrink: 0;
        border-radius: 10px;
        align-items: center;
        /* background-color: green; */
    }

    .fb_cont{
        display: flex;
        transition: 1s;
        justify-content: space-between;
    }

    .fb_wrapper{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        border-radius: 10px;
        position: relative;
    }

    /* Animasi */
    #fb-slide1:target ~ .fb_cont{
        margin-left: 0px;
    }

    #fb-slide2:target ~ .fb_cont{
        margin-left: -100%;
    }

    #fb-slide3:target ~ .fb_cont{
        margin-left: -200%;
    }

    /* Navigasi */

    .fb_main{
        width: 100%i;
    }
    .fb_nav a{
        display: inline-block;
        height: 5px;
        width: 45px;
        background-color: gainsboro;
        font-size: 0px;
        border-radius: 20px;
        transition: 1.5s;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 3%;
    }

    .fb_nav a:hover{
        background-color: grey;
    }

    .fb_nav{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: -15px; 
    }

    /* Fb SUb */
    .fb_sub{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        background-color: #5BB2C8;
        height: 95%;
        border-radius: 10px;
        justify-content: space-between;
        filter: drop-shadow(6px 6px 7px rgba(0, 0, 0, 0.25));
    }

    .fb_sub p{
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 20px;
        margin-right: 15%;
        margin-left: 15%;
        width: 88%;
    }

    .fb_sub h5{
        /* margin-right: 40%; */
        margin-bottom: 5%;
        font-family: Montserrat;
        color: #FFF;
    }

    .garis{
        margin: auto;
        background-color: #000;
        height: 1px;
        width: 75%;
        opacity: 20%;
        margin-top: 5%;
    }

    /* Footer */
    .footer{
        position: relative;
        height: 200px;
        width: 100%;
        background-color: #5BB2C8;
        bottom: -25vh;
    }


}

@media (min-width: 669px) {
    .fb_wrapper{
        width: 80%;
    }
    
}  

/* @media (min-width: 1496px) {
    .fb_wrapper{
        width: 50%;
    }
}   */